body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #111;
}

.accent-logo {
  font-style: italic;
}
.style-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
}
.social-networks:hover {
  color: #fd9222;
}
